:root {
	--primary-color: #039;
	--secondary-color: #d6daf0;
	--tertiary-color: #f8f6ff;

	--font-family: 'Rosario Variable', sans-serif;
}

body {
	color: var(--primary-color);
	font-family: var(--font-family);
	overflow-x: hidden;
}

body > div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	gap: min(2rem, 2vh);
	height: 100vh;
	margin: 0 auto;
	max-width: 1680px;
	padding: 2rem 2rem 1rem;
	width: 100vw;
}

a {
	color: var(--primary-color);

	&:hover {
		color: white;
		background-color: var(--primary-color);
	}
}
