:root {
	--primary-color: #039;
	--secondary-color: #f8f6ff;
	--tertiary-color: #d6daf0;

	--font-family: sans-serif;
}

body {
	color: var(--primary-color);
	font-family: var(--font-family);
	overflow-x: hidden;
}

body > div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100vh;
	padding: 2rem 2rem 1rem;
	width: 100vw;
}
